@model IEnumerable<MvcApiPersonajesAWS.Models.Personaje>

@{
    ViewData["Title"] = "ApiPersonajes";
}

<h4>ApiPersonajes</h4>

@Html.ActionLink("Create", "Create", new {@class = "btn btn-info"})

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersonaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id=item.IdPersonaje }, new {@class = "btn btn-success"}) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdPersonaje }, new {@class = "btn btn-warning"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdPersonaje }, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
